<div class="sugar-section" id="sugarSection">
  <div class="sugar" id="sugar">
    <div class="sugar-title">Taiwan: Per Capita Daily Sugar Intake (HPA)</div>
    <div class="sugar-amount">
      <p class="sugar-amount-text">59g / person / day</p>
      <p class="sugar-amount-text">60g / person / day</p>
      <p class="sugar-amount-text">63g / person / day</p>
      <p class="sugar-amount-text">64g / person / day</p>
      <p class="sugar-amount-text">68g / person / day</p>
      <p class="sugar-amount-text">70g / person / day</p>
      <p class="sugar-amount-text">73g / person / day</p>
      <p class="sugar-amount-text">74g / person / day</p>
    </div>

    <div class="bob-walk">
      <!-- 2016 -->
      <img src="img/bobwalk/1.png" class="sugar-img" />
      <img src="img/bobwalk/2.png" class="sugar-img" />
      <img src="img/bobwalk/3.png" class="sugar-img" />
      <img src="img/bobwalk/4.png" class="sugar-img" />
      <img src="img/bobwalk/5.png" class="sugar-img" />
      <img src="img/bobwalk/6.png" class="sugar-img" />
      <img src="img/bobwalk/7.png" class="sugar-img" />
      <img src="img/bobwalk/8.png" class="sugar-img" />
      <img src="img/bobwalk/9.png" class="sugar-img look" />
      <img src="img/bobwalk/10.png" class="sugar-img look" />

      <!-- 2017 -->
      <img src="img/bobwalk/1.png" class="sugar-img" />
      <img src="img/bobwalk/2.png" class="sugar-img" />
      <img src="img/bobwalk/3.png" class="sugar-img" />
      <img src="img/bobwalk/4.png" class="sugar-img" />
      <img src="img/bobwalk/5.png" class="sugar-img" />
      <img src="img/bobwalk/6.png" class="sugar-img" />
      <img src="img/bobwalk/7.png" class="sugar-img" />
      <img src="img/bobwalk/8.png" class="sugar-img" />
      <img src="img/bobwalk/9.png" class="sugar-img look" />
      <img src="img/bobwalk/10.png" class="sugar-img look" />

      <!-- 2018 -->
      <img src="img/bobwalk/1.png" class="sugar-img" />
      <img src="img/bobwalk/2.png" class="sugar-img" />
      <img src="img/bobwalk/3.png" class="sugar-img" />
      <img src="img/bobwalk/4.png" class="sugar-img" />
      <img src="img/bobwalk/5.png" class="sugar-img" />
      <img src="img/bobwalk/6.png" class="sugar-img" />
      <img src="img/bobwalk/7.png" class="sugar-img" />
      <img src="img/bobwalk/8.png" class="sugar-img" />
      <img src="img/bobwalk/9.png" class="sugar-img look" />
      <img src="img/bobwalk/10.png" class="sugar-img look" />

      <!-- 2019 -->
      <img src="img/bobwalk/1.png" class="sugar-img" />
      <img src="img/bobwalk/2.png" class="sugar-img" />
      <img src="img/bobwalk/3.png" class="sugar-img" />
      <img src="img/bobwalk/4.png" class="sugar-img" />
      <img src="img/bobwalk/5.png" class="sugar-img" />
      <img src="img/bobwalk/6.png" class="sugar-img" />
      <img src="img/bobwalk/7.png" class="sugar-img" />
      <img src="img/bobwalk/8.png" class="sugar-img" />
      <img src="img/bobwalk/9.png" class="sugar-img look" />
      <img src="img/bobwalk/9.png" class="sugar-img look" />
      <!-- 2020 -->
      <img src="img/bobwalk/1.png" class="sugar-img" />
      <img src="img/bobwalk/2.png" class="sugar-img" />
      <img src="img/bobwalk/3.png" class="sugar-img" />
      <img src="img/bobwalk/4.png" class="sugar-img" />
      <img src="img/bobwalk/5.png" class="sugar-img" />
      <img src="img/bobwalk/6.png" class="sugar-img" />
      <img src="img/bobwalk/7.png" class="sugar-img" />
      <img src="img/bobwalk/8.png" class="sugar-img" />
      <img src="img/bobwalk/9.png" class="sugar-img look" />
      <img src="img/bobwalk/9.png" class="sugar-img look" />

      <!-- 2021 -->
      <img src="img/bobwalk/1.png" class="sugar-img" />
      <img src="img/bobwalk/2.png" class="sugar-img" />
      <img src="img/bobwalk/3.png" class="sugar-img" />
      <img src="img/bobwalk/4.png" class="sugar-img" />
      <img src="img/bobwalk/5.png" class="sugar-img" />
      <img src="img/bobwalk/6.png" class="sugar-img" />
      <img src="img/bobwalk/7.png" class="sugar-img" />
      <img src="img/bobwalk/8.png" class="sugar-img" />
      <img src="img/bobwalk/9.png" class="sugar-img look" />
      <img src="img/bobwalk/11.png" class="sugar-img look" />

      <!-- 2022 -->
      <img src="img/bobwalk/1.png" class="sugar-img" />
      <img src="img/bobwalk/2.png" class="sugar-img" />
      <img src="img/bobwalk/3.png" class="sugar-img" />
      <img src="img/bobwalk/4.png" class="sugar-img" />
      <img src="img/bobwalk/5.png" class="sugar-img" />
      <img src="img/bobwalk/6.png" class="sugar-img" />
      <img src="img/bobwalk/7.png" class="sugar-img" />
      <img src="img/bobwalk/8.png" class="sugar-img" />
      <img src="img/bobwalk/9.png" class="sugar-img look" />
      <img src="img/bobwalk/11.png" class="sugar-img look" />

      <!-- 2023 -->
      <img src="img/bobwalk/1.png" class="sugar-img" />
      <img src="img/bobwalk/2.png" class="sugar-img" />
      <img src="img/bobwalk/3.png" class="sugar-img" />
      <img src="img/bobwalk/4.png" class="sugar-img" />
      <img src="img/bobwalk/5.png" class="sugar-img" />
      <img src="img/bobwalk/6.png" class="sugar-img" />
      <img src="img/bobwalk/7.png" class="sugar-img" />
      <img src="img/bobwalk/8.png" class="sugar-img" />
      <img src="img/bobwalk/9.png" class="sugar-img look" />
      <img src="img/bobwalk/11.png" class="sugar-img look" />

      <!-- 2024 -->
      <img src="img/bobwalk/1.png" class="sugar-img" />
      <img src="img/bobwalk/2.png" class="sugar-img" />
      <img src="img/bobwalk/3.png" class="sugar-img" />
      <img src="img/bobwalk/4.png" class="sugar-img" />
      <img src="img/bobwalk/5.png" class="sugar-img" />
      <img src="img/bobwalk/6.png" class="sugar-img" />
      <img src="img/bobwalk/7.png" class="sugar-img" />
      <img src="img/bobwalk/8.png" class="sugar-img" />
      <img src="img/bobwalk/1.png" class="sugar-img" />
      <img src="img/bobwalk/2.png" class="sugar-img" />
      <img src="img/bobwalk/3.png" class="sugar-img" />
      <img src="img/bobwalk/4.png" class="sugar-img" />
      <img src="img/bobwalk/5.png" class="sugar-img" />
      <img src="img/bobwalk/6.png" class="sugar-img" />
      <img src="img/bobwalk/7.png" class="sugar-img" />
      <img src="img/bobwalk/8.png" class="sugar-img" />

      <div class="cube">
        <img style="top: -150px;" src="img/bobwalk/cube.png" class="cube-img" />
        <img
          style="top: -175px;"
          src="img/bobwalk/cube2.png"
          class="cube-img"
        />
        <img
          style="top: -140px;"
          src="img/bobwalk/cube3.png"
          class="cube-img"
        />
        <img
          style="top: -180px;"
          src="img/bobwalk/cube4.png"
          class="cube-img"
        />
        <img
          style="top: -160px;"
          src="img/bobwalk/cube5.png"
          class="cube-img"
        />
        <img
          style="top: -190px;"
          src="img/bobwalk/cube6.png"
          class="cube-img"
        />
        <img
          style="top: -210px; left: 730px;"
          src="img/bobwalk/cube7.png"
          class="cube-img"
        />
        <img
          style="top: -280px; left: 730px;"
          src="img/bobwalk/cube8.png"
          class="cube-img"
        />
        <img
          style="top: -140px;"
          src="img/bobwalk/cube8.png"
          class="cube-img"
        />
      </div>

      <div class="time-slot">
        <span>2016</span>
        <span>2017</span>
        <span>2018</span>
        <span>2019</span>
        <span>2020</span>
        <span>2021</span>
        <span>2022</span>
        <span>2023</span>
        <span>2024</span>
      </div>
    </div>
  </div>
  <!-- <img src="img/bobwalk/bob-walk.png" class="image" />
  <img src="img/bobwalk/bob-walk2.png" class="image" />
  <img src="img/bobwalk/bob-walk3.png" class="image" />
  <img src="img/bobwalk/bob-walk4.png" class="image" />
  <img src="img/bobwalk/bob-walk.png" class="image" />
  <img src="img/bobwalk/bob-walk6.png" class="image" />
  <img src="img/bobwalk/bob-walk7.png" class="image" /> -->
</div>
