.sugar-section {
  width: 100%;
  height: 15050px;
  font-family: "Geist", sans-serif;
  font-size: 16px;
}
.sugar {
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: blue; */
  width: 41613px;
  height: 100vh;
  z-index: -999;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sugar-title {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 3em;
  font-weight: 900;
  color: lightgray;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sugar-title.visible {
  opacity: 1;
}

.sugar-amount-text {
  position: absolute;
  top: 300px;
  left: 200px;
  font-size: 3em;
  font-weight: 900;
  color: gray;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sugar-amount-text.visible {
  opacity: 1;
}

.time-slot {
  position: absolute;
  top: 680px;
  transform: translateX(700);
  border-top: solid 0.3em black;
  padding-top: 2.4em;
  box-sizing: border-box;
}

.time-slot span {
  font-size: 5em;
  margin-right: 800px;
}

.bob-walk img {
  position: absolute;
  left: 400px;
  width: 44em;
  opacity: 0;
  top: 110px;
}

.bob-walk .look {
  top: 98px;
}

.bob-walk img.visible {
  opacity: 1; /* 當圖片有 visible 類時，顯示圖片 */
}

.cube img {
  position: absolute;

  left: 680px;
  width: 47em;
  opacity: 0;
  transition: opacity 0s ease; /* Adjust transition time for smoothness */
}

.cube img.visible {
  opacity: 1;
}

@media (max-width: 768px) {
  .sugar {
    transform: scale(0.3); /* 將容器縮小 90% */
    transform-origin: top left; /* 縮放的基準點設為左上角 */
    left: -30%;
    top: 30%;
  }
}
